.login h1 {
  text-align: center;
  margin: 100px 0;
  font-family: "font-1";
}
.login h2 {
  text-align: center;
  margin: 50px 0;
  font-family: "font-1";
}
.login form {
  width: min(360px, calc(100% - 20px));
  margin: 0 auto;
  background-color: #f97316;
  padding: 30px 10px;
  border-radius: 7px;
}
.login form label {
  display: block;
  width: 100%;
}
.login form label input {
  width: 100%;
  height: 25px;
  margin: 5px 0 10px 0;
}
.login form > *:nth-child(3) {
  width: 80px;
  height: 30px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  display: block;
  margin: 20px auto;
}

.login form p {
  text-align: center;
}

.login form p:nth-of-type(1) {
}
.login form p:nth-of-type(2) {
  margin: 20px 0 0 0;
}
.login form p:nth-of-type(2) {
}
