* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* styling the main section */
main {
  width: calc(100% - 50px);
  margin-left: 50px;
  height: 100vh;
}

/* styling the server error page */
.server-error {
  text-align: center;
  font-family: "font-2";
  margin: 100px auto;
  width: min(500px, calc(100% - 20px));
}

/* styling the unknown error page */
.unknown-error {
  text-align: center;
  font-family: "font-2";
  margin: 100px auto;
  width: min(500px, calc(100% - 20px));
}
